#botao{ text-align: center }
.botaoEnviar{
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: #FCC302;
    font-size: 18px;
}


#botao1{ text-align: center }
.botaoEnviar1{
    width: 350px;
    text-align: center;
    padding: 15px 20px;
    border: 1px solid #eee;
    border-radius: 6px;
    background-color: blue;
    color: white;
    font-size: 18px;
}

